:root {
    --bg-color: 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    outline: 1px solid orange;
}


body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: bisque;
}

.header-buttons {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.header-button {
    background: none;
    cursor: pointer;
    border-radius: 4px;
    border: 0.5px solid black;
    padding: 0.5rem 1rem;
    /* font styling */
    font-size: x-large;
    font-weight: 700;
}

.header-button:hover,
.header-button:active {
    /*  */
}


main {
    flex: 1;
    /* padding: 1rem 20% 1rem 20%; */
}


footer {   
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: bisque;
}

footer > a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

footer > a:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}


.svg {
    height: 2rem;
    width: 2rem;
}